/*Header Navigation Menus*/
#SiteNavLabel-our-menu {
    height: 500px;
    overflow-y: auto;
}
.site-nav__link.site-nav__child-link {
    font-size: 13px;
	line-height: 1rem;
}

.site-nav__link.site-nav__child-link:hover {
    color: #454545;
}
.site-nav__link:focus .site-nav__label, .site-nav__link:not([disabled]):hover .site-nav__label {
    border: none;
}


.site-nav--active .site-nav__link.site-nav__link--main.site-nav__link--active .site-nav__label {
    border: none;  
    font-weight: 600;
 	font-size: 16px;
}
.site-nav__link.site-nav__link--main.site-nav__link--button.site-nav__link--active .site-nav__label {
    border: none;
}

#AccessibleNav {
    border-top: 1px solid #e4e4e4;
    margin-top: 15px;
}

.site-nav--centered {
    padding-bottom: 0px;
}
.fix_header {
   	transition: all 800ms cubic-bezier(0.55, 0, 0.1, 1);
	position: fixed;
    top: -16px;
    z-index: 999999;
    width: 100%;
    background-color: #1e1919; 
}

#SiteNav {
    margin: 0;
}

.remove_header{
  transition: all 800ms cubic-bezier(0.55, 0, 0.1, 1);
}

.small--hide.border-bottom.fix_header #SiteNav .site-nav__link.site-nav__link--main {
    color: #fff;
}
.small--hide.border-bottom.fix_header .site-nav__link.site-nav__link--main.site-nav__link--button.site-nav__link--active .site-nav__label,
.small--hide.border-bottom.fix_header .site-nav__link.site-nav__link--main.site-nav__link--button.site-nav__link--active .icon.icon--wide.icon-chevron-down,
.small--hide.border-bottom.fix_header .site-nav--active .site-nav__link.site-nav__link--main.site-nav__link--active .site-nav__label {
    color: #fff;
}
[class*="index-section--flush"]:first-child {
    margin-top: -15px;
}

#SiteNav .site-header__icon.site-header__cart {
    display: none;
}
.fix_header #SiteNav .site-header__icon.site-header__cart {
    display: inline-block;
  	color: #fff;
}
li + a .icon.icon-cart:hover {
    color: #fff;
}

/*======================================*/


/* Category Heading */
.section-header.text-center {
    margin-bottom: 0;
}
.section-header.text-center h1 {
    font-size: 1.5rem;
	margin-bottom: 15px;
}
#MainContent {
    padding-top: 15px;
  	/*padding-bottom: 50px;*/
}
/*.site-footer {
    margin-top: 0;
}*/
/*======================================*/

/* Footer Newsletter */
#Subscribe {
    width: auto;
    background-color: #e03c38;
    border-radius: 4px;
    position: absolute;
}
#Subscribe:hover {
    background-color: #d22f2f;
}
#ContactFooter-email {
    border-radius: 5px;
}
.form-message.form-message--error{
	display: none;
}
/*======================================*/

/*Shopify-logo fixer*/
#admin-bar-iframe{
	display:none;
}
/*======================================*/

/*image banner*/
#shopify-section-feature-row {
    padding-bottom: 0;
}
#FeatureRowImageWrapper-feature-row {
    height: 350px;
    margin-bottom: 0;
}
#FeatureRowImageWrapper-feature-row div {
    height: 350px;
    padding-top: 0 !important;
}
#FeatureRowImage-feature-row {
    height: 275px;
    width: 50%;
}
.hero__inner{
	padding: 0;
}
.index-section{
	padding-top: 0;	
  	padding-bottom: 25px;
  	margin-top: 30px;
}
.feature-row__text{
  	margin-bottom: 35px;
}

/*======================================*/

/*Featured Items */
.grid-view-item.product-card {
    width: 60%;
}
/*======================================*/



/*Header Section */
.grid__item.medium-up--one-third.medium-up--push-one-third.logo-align--center {
   width: 33%;
   left: 0;
   float: left;
}
.slideshow__pause {
    display: none;
}
.grid__item.medium-up--one-third.medium-up--push-one-third.text-right.site-header__icons {
    left: 0;
    float: right;
    width: 25%;
    margin-top: 28px;
}
.on_call {
    width: 30%;
    float: left;
    background: url(https://storage.sg.content-cdn.io/in-resources/db3a0dd1-8f98-44bf-b2b0-c2498b66361c/Stylesheet/images/tele_icon.png) left 4px no-repeat;
    padding-left: 47px;
    margin-left: 100px;
  	margin-top: 28px;
}
.number_ph {
    color: #fe312c;
    font-weight: 600;
    margin-right: 5px;
    font-size: 14px;
}
.call_tm {
    font-weight: 500;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
    color: #717171;
}
.on_call h3{
  	margin-bottom: auto;
  	font-size: 17px;
	font-weight: 500;
  	text-transform: uppercase;
	line-height: 1.1rem;
}
.site-header__logo-image.site-header__logo-image--centered {
    margin-left: 0;
  	width: 60%;
}
.js.lazyautosizes.lazyloaded{
	margin: 0;
  	min-width: 70%;
}
.site-header.logo--center{
	padding-top: 0px;
}

/*=========================================================*/
/* Contact us Page */
.section-header.text-center + .rte {
  /*  width: 45%;
    float: left;*/
    margin-top: 40px;
 	/*padding-left: 23px;*/
    color: black;
}
.contact-form.form-vertical {
  /*  width: 50%;
    float: right;*/
   margin-top: 20px;
}
.address-info {
    list-style: none !important;
    margin-left: 0 !important;
}
.contact-info .title-bonus-page {
    margin-bottom: 25px;
}
  .title-bonus-page h2 {
    font-size: 166.67%;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.address-info li {
    border-bottom: 1.5px solid #edecec;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 13px;
  	color: #666666;
}
.contact-info .title-bonus-page {
    margin-bottom: 5px;
    border-bottom: 1px solid #edecec;
}
.title-bonus-page h2 {
    font-size: larger;
    letter-spacing: initial;
  	font-weight: bold;
  	margin-bottom: 15px;
}
.address-info li a {
    color: #999;
}
/*Product Page*/
	
.product-single__title {
   font-size: 23px;
   text-transform: uppercase;
}
.product__price {
    font-size: 17px;
}
.product-single__meta {
    margin-top: 25px;
    padding-top: 25px;
}
.price__sale {
    color: #333;
}
/*========================================================*/
/* Google Maps*/
.google_maps iframe {
    width: 100%;
}
.google_maps{
  	border: 1px solid #c6c6c6;
}
.contact-info {
    margin-top: 30px;
}
/*======================================================*/

/* ul li menu */
.site-nav__childlist {
    width: 100%;
}
.site-nav__childlist-item {
    float: left;
}
/*=================================================*/
/* New Style Menu*/ 


.site-nav.list--inline.site-nav--centered li {
    padding: 10px 14px;
}

.site-nav__link.site-nav__link--main.site-nav__link--button .site-nav__label{
    font-size: 14px;
}
.site-nav__childlist-item li {
    padding: 3px 5px !important;
}


.icon.icon-login:hover,
.icon.icon-cart:hover,
.site-header__icon.site-header__cart:hover,
.site-header__icon.site-header__account:hover{
    color: black;
}

.section-header.text-center h2 {
    font-family: lato,sans-serif!important;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0px;
    color: #666;
}

.container_deliverytime {
    color: #029801;
    font-size: 14px;
    float: left;
    height: 50px;
    line-height: 36px;
    border: 2px solid #feac00;
  	margin-bottom: 9px;
	margin-left: 10px;
    border-radius: 8px;
    padding: 5px 10px 5px 69px;
    box-sizing: border-box;
    background: url(https://storage.sg.content-cdn.io/in-resources/db3a0dd1-8f98-44bf-b2b0-c2498b66361c/Stylesheet/images/delivary_icon.png) 5px 8px no-repeat;
}


.price.price--on-sale {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: montserrat,sans-serif !important;
    font-weight: normal;
}
.site-nav__link.site-nav__link--main.site-nav__link--button.site-nav__link--active {
    font-weight: 600;
}
/*=====================================================*/



@media (max-width: 1300px) {
	.grid__item.medium-up--one-third.medium-up--push-one-third.logo-align--center {
      margin-top: 7px;
    }
  	.input-group {
      width: 100%;
	}
     #Subscribe{
       position: unset;
    }
}

@media (max-width: 1200px) {
	.grid__item.medium-up--one-third.medium-up--push-one-third.logo-align--center {
      margin-top: 10px;
    }
   
}
@media (max-width: 1000px) {
	.grid__item.medium-up--one-third.medium-up--push-one-third.logo-align--center {
      margin-top: 15px;
    }
    
}

@media (max-width: 944px) {
  .on_call{
  	display: none;
  } 
  
}
/*
@media (max-width: 900px) {
 	.section-header.text-center + .rte {
      width: 100%;
      float: none;
      padding-left: 0px;
    }
  .contact-form.form-vertical{
      width: 100%;
      float: none;
    }
}*/

@media (max-width: 790px) {
 	.site-nav.list--inline.site-nav--centered li {
    	padding: 10px 9px;
	} 
}

@media (max-width: 749px) {
	#FeatureRowImage-feature-row {
		width: 100%;
  	}
    #FeatureRowImageWrapper-feature-row {
		width: 150px;
	}
	.grid__item.medium-up--one-third.medium-up--push-one-third.text-right.site-header__icons {
		left: 0;
		float: right;
		width: 50%;
      	margin-top: 0px;
	}
    .grid__item.medium-up--one-third.medium-up--push-one-third.logo-align--center {
      width: 50%;
      left: 0;
      margin-top: 0px;
 	}
  	.grid h2 {
  	  margin-bottom: 5px;
	}
  	.grid__item.medium-up--two-thirds {
  	  margin-bottom: 25px;
	}
}
@media (max-width: 400px) {
  #Subscribe{
    position: unset;
  }
  
}